:root {
  /* Primary */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Neutral */
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}
/* color classes */
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 4px solid black;
}
.cyan::before {
  border-color: var(--cyan);
}
.red::before {
  border-color: var(--red);
}
.orange::before {
  border-color: var(--orange);
}
.blue::before {
  border-color: var(--blue);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--very-light-gray);
}

main {
  width: 100%;
}
section {
  margin: 5rem 2rem;
}

/* headings */
h1 {
  margin: auto;
  font: 200 1.5rem "Poppins", sans-serif;
  color: var(--very-dark-blue);
  text-align: center;
}
h1 > span {
  margin: auto;
  margin-bottom: 1rem;
  display: block;
  font-weight: 600;
}
section > p {
  margin: auto;
  font: 400 0.94rem/1.6 "Poppins", sans-serif;
  color: var(--grayish-blue);
  text-align: center;
  margin-bottom: 4.5rem;
}

ul {
  list-style: none;
  display: grid;
  gap: 1.75rem;
  justify-content: center;
}

/* card */
.card {
  min-width: 311px;
  height: 222px;
  max-width: 350px;

  position: relative;
  background-color: white;
  box-shadow: hsl(210, 37%, 91%) 0px 12px 12px 2px;
  border-radius: 8px;
  padding: 1.75rem;
  overflow: hidden;
}
.card > h2 {
  margin-bottom: 0.5rem;
  font: 600 1.25rem "Poppins", sans-serif;
  color: var(--very-dark-blue);
}
.card > p {
  font: 400 0.8rem/1.6 "Poppins", sans-serif;
  color: var(--grayish-blue);
}
.card > img {
  position: absolute;
  right: 1.75rem;
  bottom: 1.75rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 90rem) {
  section {
    max-width: 1110px;
    margin: 5rem auto 0rem auto;
  }

  h1 {
    max-width: 500px;
    font-size: 2.25rem;
  }
  section > p {
    margin-bottom: 4rem;
    max-width: 550px;
    font-size: 0.95rem;
  }

  ul {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .card {
    place-self: center;
    height: 250px;
  }
  .cyan {
    grid-row: 1 / span 2;
    place-self: center;
  }
  .blue {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

/* sizes 
card
mob - 311 x 222
des - 350 x 250

*/
